<!-- <div class="container">
    <div class="row">
        <div class="alert alert-success">
            {{name | lowercase | uppercase}}
        </div>
    </div>
</div> -->

<app-signup></app-signup>

<div class="row" style="margin: 0;">
    <div class="col-sm-6">
        <img class="align-middle m-5" height="300px" src="/assets/What-Is-Scribe-Image.png">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">Scribe is a thought sharing platform where you can share your thoughts and craziest ideas with the world. You can also connect to other users by commenting on their posts.
        <br/><br/>Create a new account for free and get started.
        <br/><br/>Let's get Started</h6>
        
    </div>

</div>
<hr/>

<div class="row" style="margin: 0;">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
        <h5>Contact Us</h5>
        <div class="row">
            <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5 ">
              <i class="fa fa-phone mt-3"></i> 88008###74
              <br/>
              <i class="fa fa-envelope mt-3"></i> tushar.mca17.du@gmail.com
              <br/>
              <i class="fa fa-facebook mt-3"></i> facebook.com/tnitin2
              <br/>
            </div>
      
            <div class="col-sm-6 text-left py-5 my-5 px-5">
              <i class="fa fa-map-marker mt-3"></i> Project Work<br/>
              <i class="fa fa-map-marker mt-1 invisible"></i> India <br/>
              <!-- <i class="fa fa-map-marker mt-1 invisible"></i> Nirvana Country, South City 2,<br/> -->
              <i class="fa fa-map-marker mt-1 invisible"></i> Delhi, India - 110094<br/>
            </div>
          </div>
    </div>
</div>